{% extends 'layouts/base.html' %}

{% load static %}

{% block content %}
    <!-- Pages Heder Area -->
    <div class="container">
        <div class="pages_heder">
            <h2>About Us</h2>
            <ol class="breadcrumb">
                <li><a href="/">Home</a></li>
                <li><a href="about.html" class="active text-warning">About</a></li>
            </ol>
        </div>
    </div>
    <!-- End Pages Heder Area -->

    <!-- About Content Area -->
    <section class="about_content">
        <div class="container">
            <h2>Mora.org connects people to low-cost financial services to fight poverty and <br> develop individual
                potential. <br> Interested? We’re hiring! Explore jobs at Mora.org</h2>
            <img src="{% static 'images/about.jpg' %}" alt="">
            <p>The mission of the Stellar Development Foundation (SDF) is to promote global financial access, literacy,
                and inclusion. SDF accomplishes this by expanding worldwide access to low-cost financial services
                through the development and maintenance of technology and partnerships. SDF’s vision is an open and
                affordable financial system where people of all income levels can access simple-to-use, secure, and low
                cost finan-cial services. SDF also aims to empower developers with useful technology to create financial
                products and services for their communities.</p>
            <div class="mission_area row">
                <div class="col-md-3">
                    <div class="nav tab_nav" role="tablist">
                        <a class="active" data-toggle="pill" href="#Mission" role="tab">Mission</a>
                        <a data-toggle="pill" href="#Organization" role="tab">Organization</a>
                        <a data-toggle="pill" href="#Responsibilities" role="tab">Responsibilities</a>
                        <a data-toggle="pill" href="#Funding" role="tab">Funding</a>
                        <a data-toggle="pill" href="#Lumens" role="tab">Lumens</a>
                        <a data-toggle="pill" href="#Lumen" role="tab">Lumen Distribution</a>
                        <a data-toggle="pill" href="#Direct" role="tab">Direct Signup Program</a>
                        <a data-toggle="pill" href="#job" role="tab">job</a>
                        <a data-toggle="pill" href="#Team" role="tab">Team</a>
                    </div>
                </div>
                <div class="tab-content col-md-9" id="v-pills-tabContent">
                    <div class="tab-pane fade show active" id="Mission" role="tabpanel">
                        <h4>Mission</h4>
                        <p>SDF employs full-time and part-time employees, as well as contractors, to develop and execute
                            programs that promote global financial access, literacy, and inclusion. Aside from personnel
                            costs, other operational expenses include the costs of office rent, office amenities,
                            hardware, software, and partnership and educational programs.</p>
                        <p>Websites exist to make engagement between companies or individuals and their website visitors
                            happen more easily and effectively. The most effective way for a website to indicate which
                            action they’d like visitors to take is what’s called a Call to Action</p>
                        <p>In this Divi tutorial, we’ll be showing you how to create a vibrant CTA section using Divi
                            and Photoshop. You can use this design on any website by changing the images and colors that
                            are being used.</p>
                    </div>
                    <div class="tab-pane fade" id="Organization" role="tabpanel">
                        <h4>Organization</h4>
                        <p>Websites exist to make engagement between companies or individuals and their website visitors
                            happen more easily and effectively. The most effective way for a website to indicate which
                            action they’d like visitors to take is what’s called a Call to Action</p>
                        <p>In this Divi tutorial, we’ll be showing you how to create a vibrant CTA section using Divi
                            and Photoshop. You can use this design on any website by changing the images and colors that
                            are being used.</p>
                    </div>
                    <div class="tab-pane fade" id="Responsibilities" role="tabpanel">
                        <h4>Responsibilities</h4>
                        <p>Websites exist to make engagement between companies or individuals and their website visitors
                            happen more easily and effectively. The most effective way for a website to indicate which
                            action they’d like visitors to take is what’s called a Call to Action</p>
                        <p>In this Divi tutorial, we’ll be showing you how to create a vibrant CTA section using Divi
                            and Photoshop. You can use this design on any website by changing the images and colors that
                            are being used.</p>
                    </div>
                    <div class="tab-pane fade" id="Funding" role="tabpanel">
                        <h4>Funding</h4>
                        <p>SDF employs full-time and part-time employees, as well as contractors, to develop and execute
                            programs that promote global financial access, literacy, and inclusion. Aside from personnel
                            costs, other operational expenses include the costs of office rent, office amenities,
                            hardware, software, and partnership and educational programs.</p>
                    </div>
                    <div class="tab-pane fade" id="Lumens" role="tabpanel">
                        <h4>Lumens</h4>
                        <p>Websites exist to make engagement between companies or individuals and their website visitors
                            happen more easily and effectively. The most effective way for a website to indicate which
                            action they’d like visitors to take is what’s called a Call to Action</p>
                        <p>In this Divi tutorial, we’ll be showing you how to create a vibrant CTA section using Divi
                            and Photoshop. You can use this design on any website by changing the images and colors that
                            are being used.</p>
                    </div>
                    <div class="tab-pane fade" id="Lumen" role="tabpanel">
                        <h4>Lumen Distribution</h4>
                        <p>Websites exist to make engagement between companies or individuals and their website visitors
                            happen more easily and effectively. The most effective way for a website to indicate which
                            action they’d like visitors to take is what’s called a Call to Action</p>
                        <p>In this Divi tutorial, we’ll be showing you how to create a vibrant CTA section using Divi
                            and Photoshop. You can use this design on any website by changing the images and colors that
                            are being used.</p>
                    </div>
                    <div class="tab-pane fade" id="Direct" role="tabpanel">
                        <h4>Direct Signup Program</h4>
                        <p>Websites exist to make engagement between companies or individuals and their website visitors
                            happen more easily and effectively. The most effective way for a website to indicate which
                            action they’d like visitors to take is what’s called a Call to Action</p>
                    </div>
                    <div class="tab-pane fade" id="job" role="tabpanel">
                        <h4>Jobs</h4>
                        <p>SDF employs full-time and part-time employees, as well as contractors, to develop and execute
                            programs that promote global financial access, literacy, and inclusion. Aside from personnel
                            costs, other operational expenses include the costs of office rent, office amenities,
                            hardware, software, and partnership and educational programs.</p>
                        <p>Websites exist to make engagement between companies or individuals and their website visitors
                            happen more easily and effectively. The most effective way for a website to indicate which
                            action they’d like visitors to take is what’s called a Call to Action</p>
                        <p>In this Divi tutorial, we’ll be showing you how to create a vibrant CTA section using Divi
                            and Photoshop. You can use this design on any website by changing the images and colors that
                            are being used.</p>
                    </div>
                    <div class="tab-pane fade" id="Team" role="tabpanel">
                        <h4>Team</h4>
                        <p>SDF employs full-time and part-time employees, as well as contractors, to develop and execute
                            programs that promote global financial access, literacy, and inclusion. Aside from personnel
                            costs, other operational expenses include the costs of office rent, office amenities,
                            hardware, software, and partnership and educational programs.</p>
                        <p>Websites exist to make engagement between companies or individuals and their website visitors
                            happen more easily and effectively. The most effective way for a website to indicate which
                            action they’d like visitors to take is what’s called a Call to Action</p>
                        <p>In this Divi tutorial, we’ll be showing you how to create a vibrant CTA section using Divi
                            and Photoshop. You can use this design on any website by changing the images and colors that
                            are being used.</p>
                    </div>
                </div>
            </div>
            <div class="topics_row row">
                <div class="col-12"><h2>Topics</h2></div>
                <div class="col-lg-4 col-md-6">
                    <a href="#">Fashion</a>
                </div>
                <div class="col-lg-4 col-md-6">
                    <a href="#">Technology</a>
                </div>
                <div class="col-lg-4 col-md-6">
                    <a href="#">Foundation</a>
                </div>
                <div class="col-lg-4 col-md-6">
                    <a href="#">Game</a>
                </div>
                <div class="col-lg-4 col-md-6">
                    <a href="#">Design & Development</a>
                </div>
                <div class="col-lg-4 col-md-6">
                    <a href="#">Politics</a>
                </div>
                <div class="col-lg-4 col-md-6">
                    <a href="#">Travel</a>
                </div>
                <div class="col-lg-4 col-md-6">
                    <a href="#">Business</a>
                </div>
                <div class="col-lg-4 col-md-6">
                    <a href="#">Architect</a>
                </div>
            </div>
        </div>
    </section>
    <!-- End About Content Area -->

    <!-- Connect with us -->
    <section class="connect_with_us">
        <div class="container">
            <h2>Connect with us</h2>
            <ul class="contact_with_socail">
                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-youtube"></i></a></li>
            </ul>
        </div>
    </section>
    <!-- End Connect with us -->
{% endblock %}