{% extends 'layouts/base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content %}
    <!-- Pages Heder Area -->
    <div class="container">
        <div class="pages_heder">
            <h2>Contact Us</h2>
            <ol class="breadcrumb">
                <li><a href="index-2.html">Home</a></li>
                <li><a href="contact.html" class="active">Contact</a></li>
            </ol>
        </div>
    </div>
    <!-- End Pages Heder Area -->

    <!-- Contact Us Area -->
    <div class=" contact_area">
        <div class="container">
            <div class="row">
                <div class="offset-2 col-7">
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.errors }}
                        <div class="form-group">
                            {{ form.title.label }}: {{ form.title|add_class:'form-control' }}
                        </div>
                        <div class="form-group">
                            {{ form.postinfo.label }}: {{ form.postinfo|add_class:'form-control' }}
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-6">{{ form.image.label }}: {{ form.image|add_class:'form-control' }}</div>
                                <div class="col-6">{{ form.banner.label }}: {{ form.banner|add_class:'form-control' }}
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-6">
                                    {{ form.tags.label }}:
                                    <select class="form-select" aria-label="Default select example" name="tags"
                                            id="id_tags" required>
                                        <option selected>------------</option>
                                        {% for tag in tags %}
                                            <option value="{{ tag.pk }}">{{ tag.title }}</option>
                                        {% endfor %}
                                    </select>
                                </div>

                                <div class="col-6">
                                    {{ form.category.label }}:
                                    <select name="category" aria-label="Default select example" class="form-select"
                                            required id="id_category">
                                        <option value="" selected>---------</option>
                                        {% for category in categories %}
                                            <option value="{{ category.pk }}">{{ category.title2 }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form.content.label }}: {{ form.content|add_class:'form-control' }}
                        </div>
                        <div class="frm-group col-12 text-center">
                            <button class="btn bg-primary text-white" type="submit">CREATE POST<i
                                    class="fa fa-arrow-right"></i></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- End Contact Us Area -->


{% endblock %}

{% block extra_js %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
            crossorigin="anonymous"></script>
    <script src="{% static 'vendors/bootstrap-selector/jquery.nice-select.min.js' %}"></script>
    <!-- Contact From js -->
    <script src="{% static 'js/contact.js' %}"></script>
    <script src="{% static 'js/jquery.validate.min.js' %}"></script>
    {{ form.media.js }}
{% endblock %}

